<h1>Questions You <strong>Want</strong></h1>

<table>
  <thead>
    <tr>
      <th><h3>Latest Questions</h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to "#{question.title}", question %></td>
        <td><em><%= question.created_at.strftime("%b %e, %l:%M %p") %></em></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Post a Question', new_question_path %>
